@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@


@{
    string nombre = Model.getNombres();
}


<h1>Informacion de la persona</h1>
<p>Nombre: @Model.getNombres()</p>
<p>Apellido: @Model.getApellidos()</p>